@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0,0,0,0.10);
    }

    .text-shadow-md {
        text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    }

    .text-shadow-lg {
        text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}

@layer components {
    .btn-primary {
        @apply rounded-md border border-transparent drop-shadow-md bg-indigo-600 py-3 px-8 text-center font-medium text-white tracking-wide shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition duration-300 ease-out
    }

    .btn-secondary {
        @apply rounded-md border border-gray-200 drop-shadow-sm bg-white py-3 px-8 text-center font-medium text-gray-700 tracking-wide hover:bg-gray-100 hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition duration-300 ease-out
    }

    .btn-bouncy {
        @apply active:scale-105
    }

    .smooth-transition {
        @apply transition duration-300 ease-out
    }

    .input-primary {
        @apply rounded-lg border border-gray-300 text-gray-900 placeholder-gray-500 shadow-sm hover:ring-1 hover:ring-indigo-500/[.55] focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 hover:ring-1 hover:ring-indigo-500/[.55] smooth-transition
    }

    .navbar-text {
        @apply smooth-transition text-sm font-medium text-gray-700 hover:text-blue-700 dark:text-gray-400 dark:hover:text-white border-transparent hover:border-gray-300
    }

    .display-img {
        @apply rounded-lg drop-shadow-md smooth-transition
    }

    .display-img-darken {
        @apply display-img hover:grayscale-[50%]
    }

    /* TODO: WIP - See 'AboutUs', where put black box infront of img & make it opacity-0 group-hover:opacity-50    [make component for img & this box] */
    .display-img-darken2 {
        @apply display-img opacity-100 hover:opacity-80 bg-gradient-to-t from-gray-800 via-gray-800
    }
}


@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 30vh;
        background: #4f536e2b;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #b9bacd9b;
        border-radius: 100vh;
        border: 3px solid #f6f7edc3;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #27222c3e;
    }
}